/* components/Header.module.css */

.header {
  background-color: black;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  border-bottom: 0.0001px solid rgb(87, 77, 77);
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.logoIcon {
  color: purple;
  margin-right: 0.5rem;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navLink:hover {
  color: #ff6347;
}
